body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width:500px
}

#board{
    width: 450px;
    height: 450px;
    background-color: cadetblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width:48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits{
    width: 450px;
    height: 50px;
    background-color: cadetblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number{
    width:48px;
    height: 48px;
    border: 1px solid black;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;


}