        @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Quicksand", sans-serif;
        }

        body {
            background-color: #111;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin-top: 50px;
        }

        h1 {
            margin-bottom: 50px;
            padding-top: 50px;
        }

        #bulletPoints {
            list-style: none;
            font-size: 25px;
            color: rgb(237, 212, 100);
            padding-left: 0;
        }

        #bulletPoints li {
            margin-bottom: 20px;
            position: relative;
            padding-left: 30px;
            line-height: 2.0;
        }

        #bulletPoints li::before {
            content: '\2022';
            color: rgb(237, 212, 100);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .neon-button {
            display: none; /* Initially hide the button */
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            color: rgb(237, 212, 100);
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 24px;
            overflow: hidden;
            transition: 0.2s;
        }

        .neon-button:hover {
            color: #255784;
            background: rgb(237, 212, 100);
            box-shadow: 0 0 10px rgb(237, 212, 100), 0 0 40px rgb(237, 212, 100), 0 0 80px rgb(237, 212, 100);
            transition: color 0.2s, background 0.2s;
            animation: glow 1.5s infinite; /* Added animation for infinite glow */
        }

        @keyframes glow {
            0%, 100% {
                box-shadow: 0 0 10px rgb(237, 212, 100), 0 0 40px rgb(237, 212, 100), 0 0 80px rgb(237, 212, 100);
            }
            50% {
                box-shadow: 0 0 20px rgb(237, 212, 100), 0 0 60px rgb(237, 212, 100), 0 0 120px rgb(237, 212, 100);
            }
        }

        .neon-button span {
            position: absolute;
            display: block;
        }

        .neon-button span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, rgb(237, 212, 100));
        }

        .neon-button:hover span:nth-child(1) {
            left: 100%;
            transition: 1s;
        }

        .neon-button span:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, rgb(237, 212, 100));
        }

        .neon-button:hover span:nth-child(3) {
            right: 100%;
            transition: 1s;
            transition-delay: 0.5s;
        }

        .neon-button span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, rgb(237, 212, 100));
        }

        .neon-button:hover span:nth-child(2) {
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }

        .neon-button span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent,  rgb(237, 212, 100));
        }

        .neon-button:hover span:nth-child(4) {
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }

        #images {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            margin-top: -50px;
            
        }

        #images #AJU {
            height: 80px;
            margin-left: 30px;
            margin-top: 10px;
        }

        #images #CC {
            height: 75px;
            margin-right: 30px;
        }